* {
 margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
background-color: #ff9a4b;
height: 50px;
}
main {
width: 960px;
display: flex;
margin: 50px auto;
}
.step-box {
width: 300px;
background-color: #eee;
margin-right: 30px;
padding: 10px;
position: relative;
}
step-box:last-child {
margin-right: 0;
}
.step-image1 {
background-image: url(img/flow01.png);
height: 150px;
background-position: bottom;
background-size: cover;
}
.step-image2 {
background-image: url(img/flow02.png);
height: 150px;
background-position: center;
background-size: cover
 
}
.step-image3 {
background-image: url(img/flow03.png);
height: 150px;
background-position: center;
background-size: cover;
}
.step-1 {
background-color: #ff9a4b;
position: absolute;
top: 0;
left: 0;
color: white;
}
.title {
padding-top: 15px;
padding-bottom: 5px;
}

footer {
width: 100%;
height: 50px;
background-color: #aaa;
}
@media screen and (max-width: 768px) {
 header {
 height: 50px;
 width: 100%;
 }
 main {
  width: 100%;
  display: block;
 }
 .step-box {
  width: 90%;
  margin: 0 auto 20px auto;
   }
 .step-image1 {
  height: 150px;
}
 .step-image2 {
  height: 150px;
}
.step-image3 {
  height: 150px;
}
footer {
height: 50px;
width: 100%;
}
}
